body {
    font-family: Arial,"Microsoft YaHei, SF Pro Display, Roboto, Noto, Arial, PingFang SC, Hiragino Sans GB, sans-serif","Hiragino Sans GB",sans-serif;
    font-size: .75em;
    color: #333;
    line-height: 1.5em;
    background: #f5f6f7;
}
blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}